.admin-calendar {
  display: flex;
  height: calc(80% - 70px); /* Full height minus the top margin */
  overflow: hidden; /* Prevent scrolling */
}


.calendar-container {
  flex: 3;
  padding: 0 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the container uses the full available height */
}

.reservation-info {
  flex: 2;
  padding: 20px;
  background: rgba(255, 255, 255, 0.33);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 -8px -32px 0 rgba(46, 46, 48, 0.37);
  border-radius: 10px;
  overflow-y: auto; /* Handle any potential overflow within this section */
}

.admin-calendar .react-calendar {
  height: 100%;
  width: 100%;
  max-height: 100%; /* Ensure the calendar does not exceed container height */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0;
}

.admin-calendar .react-calendar__tile {
  height: 100px; /* Adjusted height for better fit */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: hidden; /* Prevent content overflow */
  text-align: center;
}

.admin-calendar .react-calendar__tile > abbr {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.reservation-badge {
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
}

.no-reservations {
  font-style: italic;
  color: #888;
  margin-top: 10px;
  text-align: center;
}

.toggle-selectionmode-btn {
  margin: 10px 20px;
  padding: 10px 5px 10px 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.move-left-btn, .move-right-btn {
  margin: 10px 5px;
  padding: 10px 20px 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-selectionmode-btn:hover, .move-left-btn:hover, .move-right-btn:hover {
  background-color: #45a049;
}

.reservation-actions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.move-btn, .delete-btn {
  padding: 2px 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.delete-btn {
  background-color: #f44336;
}

.move-btn:hover, .delete-btn:hover {
  opacity: 0.8;
}

.global-actions {
  margin-left: 16px;
}

.global-actions .move-btn, .global-actions .delete-btn {
  padding: 10px 20px;
  margin: 10px 5px;
}

.reservation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.reservation-header h2 {
  margin: 0;
}

.add-reservation-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
}

.add-reservation-btn:hover {
  background-color: #45a049;
}

.reservation-creator {
  padding: 20px;
  border-radius: 5px;
}

.reservation-creator select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.reservation-creator-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reservation-creator-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reservation-creator-actions button:first-child {
  background-color: #4CAF50;
  color: white;
}

.reservation-creator-actions button:last-child {
  background-color: #f44336;
  color: white;
}

.reservation-controls {
  display: flex;
  align-items: center;
}

.psychologist-filter {
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  box-sizing: border-box;
}
