/* src/components/ReservationCalendar.css */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 2rem;
}

.react-calendar__tile--disabled {
  background-color: #f0f0f0 !important;
  color: #ccc !important;
}

.available-times, .duration-options {
  margin-top: 20px;
  max-width: 328.4px;
  margin-left: 10px;
  margin-right: 10px;
}

.available-times h3, .duration-options h3 {
  margin: 0 0 10px;
  text-align: center;
}

.available-times ul, .duration-options ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.available-times li, .duration-options li, .go-back-button {
  background: #4CAF50;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  color: white;
  border: none;
  font-size: 1em;
}

.available-times li:hover, .duration-options li:hover, .go-back-button:hover {
  background-color: #45a049;
}

.duration-options ul {
  grid-template-columns: repeat(3, 1fr); /* 3 columns for duration options */
}

.go-back-button {
  display: block;
  width: 100%;
  margin-top: 10px;
}